{
    "Mainnet": {
        "Nodes": [
            "",
            ""
        ]
    },
    "Goerli": {
        "Nodes": [
            ""
        ],
        "Accounts": [
            {
                "Priv": ""
            }
        ]
    }
}